.section-title
    text-align: center
    font-size: 3em
    font-weight: 700
    margin-bottom: 50px

.header
    margin-bottom: 50px
    margin-top: 50px

    h1
        font-weight: 700

    p
        color: $asbestos

#topper-nav
    background: $baseColor
    color: #fff
    padding: 8px

    a
        color: #fff

#first-section
    min-height: 200px
    overflow: hidden

    [class^="col-md"]
        min-height: 610px
        padding: 0

    .container-fluid
        padding: 0

    .row
        margin: 0

    .dark-background
        padding: 10px 30px

    .slider-content
        background-image: url("../img/1.jpg")
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        padding: 25px

        .content-title
            font-size: 2em

        .content-subtitle
            font-size: 1.5em
            font-weight: 300

        .slider-wrapper

            .slider-control
                width: 100%
                text-align: right
                margin-bottom: 20px

                a
                    color: #fff

                    &:hover
                        text-decoration: none

                    &:nth-child(1)
                        margin-right: 5px

            .carousel

                .item

                    img
                        object-fit: cover
                        background-position: center
                        height: 250px
                        width: 100%

    .popover
        top: -1px !important
        left: -780px !important
        width: 790px !important
        max-width: 790px !important
        color: #000
        border-radius: 0
        box-shadow: none !important
        border: 0

        .popover-content
            overflow-y: scroll
            overflow-x: hidden
            min-height: 577px !important
            max-height: 577px !important

        label
            font-weight: normal

        textarea
            width: 100%

        &.left > .arrow
            border-left-color: transparent
            top: -100px

    .content
        color: #fff
        font-size: 16px

        .row
            margin-bottom: 20px

        .content-desc
            font-weight: 300

            .inner-title
                font-weight: 400

            p
                margin-bottom: 0

    .icon-bar
        width: 100%
        background: $yellow

        p
            margin: 0

        a
            border-bottom: 1px solid darken($yellow, 10%)
            display: block
            text-align: center
            padding: 16px
            transition: all 0.3s ease
            color: #333

            &:hover
                text-decoration: none
                background-color: darken($yellow, 50%)
                color: #fff

#news-flash
    color: #fff
    min-height: 40px

#broker-list
    background: #ecf0f1
    padding: 50px 0 30px

    .broker-container
        background-color: rgba($asphalt, .7)
        padding: 40px 20px 20px
        border-radius: 5px

        .btn
            border-radius: 0
            padding: 10px 50px

            &:hover
                background: $pome
                color: #fff

    .broker-item
        color: #fff
        margin-bottom: 20px

        .down
            color: #e74c3c

        .up
            color: #1ecc71

        .number
            font-size: .8em
            margin-left: 5px

        p
            font-weight: bold
            margin-bottom: 0
            padding: 5px 20px

        .broker-title
            background: #34495e

        .broker-price
            background: #2c3e50

    .footer
        font-size: 1.1em
        font-weight: 700
        font-style: italic
        margin-top: 20px

#pricing-table
    background: #fff
    padding: 50px 0

    .header

        h1
            font-weight: 700

        p
            color: $asbestos

    .turqoise-item
        .content-top, .custom-icon
            background: #1abc9c

        .content-bottom
            color: #1abc9c

    .red-item
        .content-top, .custom-icon
            background: #e74c3c

        .content-bottom
            color: #e74c3c

        .subscribe
            background: #e74c3c

    .belize-item
        .content-top, .custom-icon
            background: #2980b9

        .content-bottom
            color: #2980b9

        .subscribe
            background: #2980b9

    .pricing-item
        text-align: center

        .garnish
            display: inline-block
            margin-top: -41px

        .custom-icon
            box-sizing: content-box
            padding: 20px
            height: 40px
            width: 40px
            border: 3px solid #eee
            border-radius: 100%
            color: #fff
            vertical-align: middle
            font-size: 24px
            display: table-cell
            text-align: center

        &.small
            .custom-icon
                height: 25px
                width: 25px
                padding: 12.5px
                font-size: 18px

            .garnish
                margin-top: -25px

            .content-top
                .title
                    font-size: 20px

                .given-price span
                    font-size: 1.5em

            .subscribe
                font-size: 16px !important

    .pricing-item
        .content-top
            padding: 50px
            font-size: 30px
            color: #fff
            border-top-left-radius: 5px
            border-top-right-radius: 5px

            p
                margin: 0

            .title
                font-weight: 700
                margin-bottom: 0

            hr
                border: 0
                border-bottom: 1px solid rgba(189, 195, 199, 0.7)
                width: 75%
                margin: 10px auto

            .given-price
                font-weight: 300

                span
                    font-weight: 700
                    font-size: 2em

            .given-period
                font-size: 0.8em
                font-weight: 300

        .content-bottom
            margin-top: -50px
            background: #eee
            font-size: 18px
            padding: 50px 50px 30px
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px

        &.small .content-bottom
            margin-top: -35px
            font-size: 14px

        .content-bottom
            span
                margin-right: 20px

            p
                border-bottom: 1px solid #fff
                padding-bottom: 10px

            .subscribe
                border-radius: 0
                margin-top: 25px
                font-size: 20px
                font-weight: 700
                width: 100%

    .subscribe
        background: #1abc9c
        color: #fff

#step
    background: $clouds

#instrument
    background: #fff
    padding-top: 20px
    padding-bottom: 50px

    .container
        max-width: 1000px

    .item
        text-align: center
        margin-bottom: 50px

        p
            font-size: 1.3em

        img
            height: auto
            width: auto
            max-height: 120px
            max-width: 120px
            margin-bottom: 25px

#last-section
    background: $clouds
    padding: 20px 0

    .container
        max-width: 1000px

    .item
        margin-bottom: 20px

    .news-date
        color: $concrete

    .news-title
        color: $asbestos
        font-weight: 700
        font-size: 1.1em

    a
        &:hover
            text-decoration: none

#footer
    background: $footerColor
