#topper-nav
    background: $baseColor
    color: #fff
    padding: 8px

#first-section
	min-height: 200px
	max-height: 500px
	overflow: hidden

	[class^="col-md"]
		padding: 0

	.container-fluid
		padding: 0

	.row
		margin: 0

	.content
		padding: 10px 30px
		color: #fff
		font-size: 16px

		.row
			margin-bottom: 20px

		.content-desc
			font-weight: 300

			.inner-title
				font-weight: 400

			p
				margin-bottom: 0